@media (min-width: 1400px) and (max-width: 2000px) {
	* {
		box-sizing: border-box;
		margin: 0;
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		background-color: rgb(232, 232, 232);
	}
	.logo {
		width: 50px;
		height: 50px;
	}
	.busqueda {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 50px;
		width: 90%;
		margin-top: 20px;
	}
	.buscar {
		width: 50%;
		height: 30px;
	}
	.ingresar {
		justify-items: center;
	}
	.secciones {
		display: flex;
		justify-content: center;
		gap: 50px;
		font-size: 13px;
		margin-top: 10px;
	}
	.secciones p:hover {
		color: rgb(0, 51, 255);
		cursor: pointer;
	}
	.persona {
		margin-top: 20px;
		width: 100%;
		height: 600px;
	}
	.spadre {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.slider {
		display: flex;
		gap: 20px;
		width: 100%;
		margin-top: 20px;
		overflow-x: scroll;
		margin-bottom: 35px;
	}
	.slider p{
		
		text-align: center;
	}
	.spadre::-webkit-scrollbar-thumb {
		visibility: hidden;
	}

	.slider img {
		height: 200px;
		width: 250px;
	}
	.coleccion {
		text-align: center;
	}
	.coleccion h1 {
		margin-bottom: 20px;
		color: blue;
	}

	figure {
		display: flex;
		justify-content: center;
		gap: 10px;
		width: 100%;
	}
	figure div {
		width: 20%;
	}
	figcaption {
		width: 100%;
		font-size: 20px;
	}
	.img-silla {
		width: 100%;
		height: 400px;
	}
	.btn {
		display: none;
		cursor: pointer;
		color: white;
		background-color: rgba(52, 102, 242);
		width: 80%;
		border: none;
		height: 40px;
		border-radius: 5px;
		margin-top: 15px;
	}
	.silla {
		height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contenedor-img {
		display: grid;
		grid-template-areas:
			'foto1 foto1 foto2 foto3'
			'foto4 foto5 foto5 foto3';
		gap: 10px;
	}
	.contenedor {
		height: 300px;
		width: 400px;
	}
	.img1 {
		grid-area: foto1;
	}
	.img2 {
		grid-area: foto2;
	}
	.img3 {
		height: 100%;
		grid-area: foto3;
	}

	.img4 {
		grid-area: foto4;
	}
	.img5 {
		grid-area: foto5;
	}

	.imagen {
		height: 100%;
		width: 100%;
	}
	.cont-sect {
		display: flex;
		justify-content: center;
		margin-top: 100px;
	}
	.fondo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fondo .img-fondo {
		display: grid;
		grid-template-rows: 2fr 2fr;
		opacity: 0.6;
		object-fit: cover;
		height: 60vh;
		width: 100%;
	}
	.botones {
		margin-top: 50px;
		display: flex;
		justify-content: center;
		gap: 40px;
	}
	.botones button {
		border-radius: 5px 5px 0 0;
		border: none;
		background-color: rgb(52, 102, 242);
		color: yellow;
		height: 40px;
		width: 200px;
		font-size: 20px;
	}
	.botones button:hover {
		transform: scale(1.2);
	}
	.imagenes-top {
		position: relative;
		top: -150px;
		display: flex;
		gap: 30px;
		height: 400px;
		width: 70%;
	}
	.imagenes-div {
		display: flex;
		gap: 15px;
		justify-items: center;
		flex-direction: column;
	}
	.btn-carro {
		border-radius: 5px 5px 0 0;
		margin-top: 15px;
		width: 100%;
		cursor: pointer;
		border: none;
		background-color: rgb(52, 102, 242);
		color: white;
		height: 40px;
		font-size: 20px;
	}
	.precios {
		display: none;
	}
	.subrayar {
		color: grey;
		text-decoration: line-through;
	}
	.noSub {
		font-size: 26px;
		font-weight: bold;
	}
	.fotos {
		display: flex;
		justify-content: center;
		gap: 10px;
		background-color: white;
	}
	.imagen1,
	.imagen2 {
		position: relative;
	}
	.productos {
		position: absolute;
		left: 40%;
		top: 60%;
		background-color: yellow;
		height: 30px;
		cursor: pointer;
	}
	.imagen1 > h1 {
		position: absolute;
		width: 70%;
		left: 20%;
		top: 40%;
		color: white;
	}
	.imagen2 h1 {
		position: absolute;
		width: 70%;
		left: 20%;
		top: 40%;
		color: white;
	}
	footer {
		display: flex;
		justify-content: space-around;
		padding: 30px;
		background-color: rgb(70, 64, 64);
	}
	.about {
		width: 15%;
	}
	ul {
		list-style-type: none;
		padding: 0%;
		color: white;
	}
	li {
		width: 230px;
		line-height: 30px;
	}
	h3 {
		text-align: center;
		font-weight: lighter;
		color: yellow;
		height: 100px;
	}
	.suscribirse p{
		margin-top: 50px;
		color: white;
	}
	.suscribirse .nombre {
		display: flex;
		width: 100%;
		height: 40px;
		border-radius: 5px;
	}
	.checkbox{
		width:20px;
		height: 20px;
	}
	.fa-solid{
		font-size: 20px;
	}
	.menu{
		position: relative;
		right: 220px;
	}
	.car{
		position: relative;
		left: 45px;
		font-size: 30px;
	}
	label{
		width: 20px;
		color: white;
	}
	.pagos{
		width: 100px;
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		gap: 50px;
	}
	.pagos img{
		width: 80px;
	}
}
